<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="aboutme.css"> -->
	<title>About Us</title>
	<%- include('partials/header') %>
</head>

<body>
    

	<section class="about">
		<h1>About me</h1>
		<p style="font-weight: bold">My self....</p>
		<div class="about-info">
			<div class="about-img">
				<img src=
"/images\keta.jpg" >
			</div>
			<div>
	<p>I am currently pursuing a Bachelor's/Master's degree in Computer Science at [Your University]. My academic journey has equipped me with a solid foundation in various computer science concepts, including data structures, algorithms, software development, and more.
		I have a deep love for programming and enjoy solving complex problems through code. My primary programming languages of expertise include [List of Programming Languages], and I am constantly expanding my skills by exploring new technologies and languages.
	</p>
				<!-- <button>Read More...</button> -->
			</div>
		</div>
	</section>

	<section class="team">
		<h1>Skills</h1>
		<div class="team-cards">
			<!-- Cards here -->
			<!-- Card 1 -->
			<div class="card">
				<div class="card-img">
					<img src="/images\web-devel-important.jpg" >
				</div>
				<div class="card-info">
					<h2 class="card-name">Web-Development</h2>
					<p class="card-role">Html,CSS,JS,Node...</p>
					<p class="card-email">jane@example.com</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>

			<!-- Card 2 -->
			<div class="card">
				<div class="card-img">
					<img src="/images\programming.png" alt="User 2">
				</div>
				<div class="card-info">
					<h2 class="card-name">Programming</h2>
					<p class="card-role">C++,C#,Java...</p>
					<p class="card-email">Miller@example.com</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
			<!-- Card 3 -->
			<div class="card">
				<div class="card-img">
					<img src=
"/images\ux.png" alt="User 3">
				</div>
				<div class="card-info">
					<h2 class="card-name">UI/UX</h2>
					<p class="card-role">React...</p>
					<p class="card-email">Joe@example.com</p>
					<p><button class="button">Contact</button></p>
				</div>
			</div>
		</div>
		
		<h1 style="margin-top: 30px;">Resume</h1>
		<div class="pdf">
		<a href="/Vraj Prajapati-(Resume).pdf" download="Vraj Prajapati-(Resume).pdf" style="text-decoration: none;color: white;">Download My Resume</a>
		
	</div>
	</section>

    <%- include('partials/footer') %>
</body>

</html>
